//  PULSING ANIMATION

@-webkit-keyframes button--hover {
    to {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
}

@keyframes button--hover {
    to {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
}
  
.button--hover {
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.button--hover:hover, .button--hover:focus, .button--hover:active {
-webkit-animation-name: button--hover;
animation-name: button--hover;
-webkit-animation-duration: 0.35s;
animation-duration: 0.35s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
}

//   SPINNING ANIMATION

.hvr-icon-spin {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-spin .hvr-icon {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}