@media (max-width: 1170px) {
    .wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }

    .aboutUs__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .aboutUs__content__gallery {
        flex-basis: 100%;
        justify-content: center;
    }

    .aboutUs__content__gallery__cell {
        flex-basis: 35%;
    }

   .aboutUs__content__text {
       flex-basis: 90%;
       margin-top: 25px;
       p {
           margin: 25px 0;
       }
   }
}

@media (max-width: 1050px) {
    .events__content__cell__overlay {
        h2 {
            @include fontSize(30);
        }
        p {
            @include fontSize(14);
        }
    }
}

@media (max-width: 880px) {
    .events__content {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .events__content__cell {
        flex-basis: 100%;
    }

    .events__content__cell__overlay {
        h2 {
            @include fontSize(40);
        }
        p {
            @include fontSize(18);
        }
    }
}

@media (max-width: 785px) {
    .aboutUs__content__gallery__cell {
        flex-basis: 60%;
    }

    .services__content__cell {
        flex-basis: 80%;
        margin-bottom: 25px;
        p {
            width: 90%;
        }
        &:first-child {
            order: 1;
        }
        &:nth-child(2) {
            order: 4;
        }
        &:nth-child(3) {
            order: 2;
        }
        &:nth-child(4) {
            order: 3;
        }
    }

    .stats__content {
        flex-wrap: wrap;
    }

    .stats__content__cell {
        width: 50%;
        text-align: center;
    }

    .blog__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog__content__cell {
        width: 95%;
        margin-bottom: 25px;
    }

    .footer__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__content__cell {
        width: 95%;
        justify-content: center;
        text-align: center;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .nav__bottom {
        width: 100%;
    }
}