@media (max-width: 785px) {

    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-content__cell {
        width: 95%;
        justify-content: center;
        text-align: center;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .email-subscribe__email {
        width: 65%;
    }

    .email-subscribe__submit {
        right: 20%;
    }

    .nav__wrapped {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        line-height: 35px;
    }

} /* END OF MAX-WDITH 785PX */