@import "setup";
@import "general";
@import "animations";

.header-nav, .about-us-content, .welcome-content, .services-content, .reviews-content, .events-content, .ask-question-form, .stats-content, .blog-content, .footer-content, .instagram-gallery, .footer-nav {
    display: flex;
    width: 100%;
}

// START OF HEADER SECTION STYLING

.header {
    height: 100vh;
    @include sectionBackground('../assets/image-1.jpeg');
    color: #FFFFFF;
    .wrapper {
        height: 100vh;
    }
}

.header-nav-logo {
    flex: 1 1 45%;
    align-self: baseline;
}

.header-nav-menu {
    flex: 1 1 55%;
    align-self: baseline;
}

.header-nav-menu__hamburger-icon {
	display: none;
	font-size: 3.5rem;
}

.exit-responsive {
	display: none;
	font-size: 2.5rem;
}

.show.header-nav-menu__hamburger-menu {
	display: block;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list__link {
    color: #FFFFFF;
    font-size: 2.0rem;
    padding: 5px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-in;
    &:hover {
        color: $orange;
        border-color: $orange;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    height: 100%;
    line-height: 60px;
    &__heading {
        font-size: 5.8rem;
    }
    &__sub-heading {
        font-size: 2.6rem;
    }
}

@media (max-width: 880px) {

    .header-nav-menu__hamburger-icon {
        display: flex;
        justify-content: flex-end;
	}

	.exit-responsive {
		display: flex;
		padding: 25px 0 0 25px;
		margin-bottom: 25px;
	}

	.header-nav-menu__hamburger-menu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.99);
        color: #FFFFFF;
        height: 100vh;
	}

    .nav-columns {
        flex-direction: column;
    }

    .nav-list__item--hidden {
        padding-bottom: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .nav-list__link--hidden {
        font-size: 5.0rem;
        width: 100%;
        padding: 15px;
        color: #FFFFFF;
    }

    .header-content {
        align-self: center;
        text-align: center;
        align-items: center;
        line-height: 40px;
        &__sub-heading {
            margin: 15px 0;
        }
    }
} /*END OF MAX-WIDTH 880PX */

// END OF HEADER SECTION STYLING

// START OF ABOUT US SECTION STYLING

.about-us {
    text-align: center;
    &-heading {
        margin-bottom: 50px;
    }
}

.about-us-gallery {
    flex: 0 1 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us-gallery__cell {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 50px;
    &__heading {
        font-size: 2.6rem;
        margin-top: 30px;
    }
}

.about-us-content-text {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__heading {
        font-size: 2.6rem;
    }
    &__body {
        font-size: 2.4rem;
    }
}

@media (max-width: 1170px) {

    .about-us-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-us-gallery {
        flex-basis: 100%;
        justify-content: center;
    }

    .about-us-gallery__cell {
        flex-basis: 35%;
    }

    .about-us-content-text {
       flex-basis: 100%;
       margin-top: 25px;
       &__body {
           margin: 25px 0;
       }
    }
} /* END OF MAX-WIDTH 1170PX */

@media (max-width: 785px) {

    .about-us-gallery__cell {
        flex-basis: 60%;
    }
} /* END OF MAX-WIDTH 785PX */

// END OF ABOUT US SECTION STYLING

// START OF WELCOME SECTION STYLING

.welcome {
    background-color: $gold;
}

.welcome-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    &__body {
        font-size: 2.4rem;
        margin: 50px 0;
    }
}

// END OF WELCOME SECTION STYLING

// START OF SERVICES SECTION STYLING

.services-content {
    flex-wrap: wrap;
    margin-top: 50px;
}

.services-content__cell {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    &__heading {
        font-size: 2.6rem;
        margin-bottom: 50px;
    }
    &__body {
        font-size: 1.8rem;
        width: 60%;
    }
}

@media (max-width: 785px) {

    .services-content__cell {
        flex-basis: 100%;
        margin-bottom: 25px;
        &__body {
            width: 90%;
        }
        &__heading {
            margin-bottom: 25px;
        }
        &:first-child {
            order: 1;
        }
        &:nth-child(2) {
            order: 4;
        }
        &:nth-child(3) {
            order: 2;
        }
        &:nth-child(4) {
            order: 3;
        }
    }
} /* END OF MAX-WIDTH 785PX */

// END OF SERVICES SECTION STYLING

// START OF REVIEWS SECTION STYLING

.reviews {
    background-color: $black;
    color: $grey;
}

.reviews-content {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__text {
        font-size: 1.8rem;
        margin-top: 35px;
    }
    &__body {
        width: 55%;
    }
    &__author {
        font-style: italic;
    }
}

.reviews-content__image:before {
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 6px;
}

@media (max-width: 1170px) {

    .reviews-content {
         &__body {
             width: 100%;
         }
     }
 } /* END OF MAX-WDITH 1170PX */

// END OF REVIEWS SECTION STYLING

// START OF EVENTS SECTION STYLING

.events-content__cell {
    flex: 0 1 calc(100% / 3);
    &:nth-of-type(2) {
        position: relative;
    }
    &__image {
        height: 100%;
    }
}

.events-content__overlay {
	position: absolute;
    display: flex;
    flex-direction: column;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
    text-align: center;
    &__body {
        font-size: 1.8rem;
        width: 80%;
    }
    &__heading {
        display: inline-block;
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        &::after {
            content: '';
            width: 60%;
            height: 1px;
            border-bottom: 1px solid #FFFFFF;
            position: absolute;
            bottom: -50%;
            left: 20%;
        }
    }
}

@media (max-width: 1050px) {
    .events-content__overlay {
        &__heading {
            font-size: 3.0rem;;
        }
        &__body {
            font-size: 1.4rem;;
        }
    }
} /* END OF MAX-WDITH 1050PX */

@media (max-width: 880px) {

    .events-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .events-content__cell {
        flex-basis: 100%;
    }

    .events-content__overlay {
        &__heading {
            font-size: 4.0rem;;
        }
        &__body {
            font-size: 1.8rem;
        }
    }
} /* END OF MAX-WIDTH 880PX */

@media (max-width: 525px) {
    .events-content__overlay {
        &__body {
            font-size: 1.4rem;
        }
        &__heading {
            font-size: 3.6rem;
        }
    }
} /* END OF MAX-WDITH 525PX */

// END OF EVENTS SECTION STYLING

// START OF ASK QUESTION SECTION STYLING

.ask-question {
    text-align: center;
}

.ask-question-form {
    flex-direction: column;
    align-items: center;
    &__question {
        margin: 50px 0;
        width: 80%;
        text-align: center;
        border: none;
        border-bottom: 1px solid #000000;
        font-size: 1.8rem;
        font-family: "Lora", serif;
        padding: 10px;
    }
}

@media (max-width: 880px) {

    .ask-question-form {
        &__question {
            width: 100%;
        }
    }
} /* END OF MAX-WDITH 880PX */

// END OF ASK QUESTION SECTION STYLING

// START OF STATS SECTION STYLING

.stats {
    background-color: $gold;
}

.stats-content {
    justify-content: space-around;
}

.stats-content__cell {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px 0;
    &__icon {
        font-size: 5.0rem;
        margin-bottom: 25px;
    }

    &__heading {
        font-size: 2.8rem;
    }
    &__body {
        font-size: 2.4rem;
    }
}

@media (max-width: 785px) {

    .stats-content {
        flex-wrap: wrap;
    }

    .stats-content__cell {
        width: calc(50% - 20px);
        margin: 20px 10px;
    }
} /* END OF MAX-WIDTH 785PX */

// END OF STATS SECTION STYLING

// START OF BLOG SECTION STYLING

.blog-content {
    justify-content: space-between;
    margin-top: 50px;
}

.blog-content__cell {
    width: 30%;
    display: flex;
    flex-direction: column;
    &__heading {
        text-transform: none;
        font-size: 2.0rem;
        margin: 20px 0;
    }
    &__link {
        font-size: 1.4rem;
        color: $orange;
    }
}

@media (max-width: 785px) {

    .blog-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog-content__cell {
        width: 100%;
        margin-bottom: 25px;
    }
} /* END OF MAX-WIDTH 785PX */

// END OF BLOG SECTION STYLING

// START OF FOOTER SECTION STYLING

.footer {
    background-color: $black;
    color: #FFFFFF;
    &__copyright {
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
        font-size: 1.4rem;
    }
}

.footer-content {
    justify-content: space-between;
}

.footer-content__cell {
    width: calc((100% / 3) - 25px);
    &__heading {
        font-size: 2.6rem;
        margin-bottom: 25px;
    }
    &__body {
        font-size: 1.8rem;
        line-height: 25px;
    }
}

.contact-info {
    &__item {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    &__icon {
        margin-right: 10px;
    }
    &__link {
        color: #FFFFFF;
        text-transform: none;
    }
}

.email-subscribe {
    width: 100%;
    position: relative;
}

.email-subscribe__email {
    width: 85%;
    font-size: 1.4rem;
    padding: 5px 0 5px 15px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    margin-top: 15px;
}

.email-subscribe__submit {
    color: #908E8E;
    border: none;
    background-color: transparent;
    position: absolute;
    font-size: 1.2rem;
    bottom: 7px;
    right: 20%;
}

.instagram-gallery {
    justify-content: space-between;
    flex-wrap: wrap;
}

.instagram-gallery__cell {
    width: 22%;
    margin-bottom: 10px;
}

.footer-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
    &__heading {
        margin-bottom: 25px;
    }
}

// END OF FOOTER SECTION STYLING

@import "media";