html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, a, button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 4.0rem; }

h3 {
  font-size: 2.6rem; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-size: 1.6rem;
  font-family: "Lora", serif; }

img {
  width: 100%;
  display: block; }

.wrapper {
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 75px 25px; }

.button {
  font-size: 2.0rem;
  text-transform: uppercase;
  letter-spacing: 4.0px;
  font-weight: 600;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  width: 170px;
  color: #FFFFFF; }
  .button--orange {
    background-color: #DA331D; }
  .button--black {
    background-color: #000000; }

@-webkit-keyframes button--hover {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes button--hover {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

.button--hover {
  vertical-align: middle;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.button--hover:hover, .button--hover:focus, .button--hover:active {
  -webkit-animation-name: button--hover;
  animation-name: button--hover;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.header {
  height: 100vh;
  background-image: url("../assets/image-1.jpeg");
  background-size: cover;
  background-position: center;
  color: #FFFFFF; }
  .header .wrapper {
    height: 100vh; }

.header-nav-logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 45%;
  flex: 1 1 45%;
  -ms-flex-item-align: baseline;
  align-self: baseline; }

.header-nav-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 55%;
  flex: 1 1 55%;
  -ms-flex-item-align: baseline;
  align-self: baseline; }

.header-nav-menu__hamburger-icon {
  display: none;
  font-size: 3.5rem; }

.exit-responsive {
  display: none;
  font-size: 2.5rem; }

.show.header-nav-menu__hamburger-menu {
  display: block; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav-list__link {
  color: #FFFFFF;
  font-size: 2.0rem;
  padding: 5px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .nav-list__link:hover {
    color: #DA331D;
    border-color: #DA331D; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 100%;
  line-height: 60px; }
  .header-content__heading {
    font-size: 5.8rem; }
  .header-content__sub-heading {
    font-size: 2.6rem; }

@media (max-width: 880px) {
  .header-nav-menu__hamburger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .exit-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0 0 25px;
    margin-bottom: 25px; }
  .header-nav-menu__hamburger-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.99);
    color: #FFFFFF;
    height: 100vh; }
  .nav-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav-list__item--hidden {
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center; }
  .nav-list__link--hidden {
    font-size: 5.0rem;
    width: 100%;
    padding: 15px;
    color: #FFFFFF; }
  .header-content {
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 40px; }
    .header-content__sub-heading {
      margin: 15px 0; } }

/*END OF MAX-WIDTH 880PX */
.about-us {
  text-align: center; }
  .about-us-heading {
    margin-bottom: 50px; }

.about-us-gallery {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.about-us-gallery__cell {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px 50px; }
  .about-us-gallery__cell__heading {
    margin-top: 30px; }

.about-us-content-text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .about-us-content-text__body {
    font-size: 2.4rem; }

@media (max-width: 1170px) {
  .about-us-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about-us-gallery {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about-us-gallery__cell {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%; }
  .about-us-content-text {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 25px; }
    .about-us-content-text__body {
      margin: 25px 0; } }

/* END OF MAX-WIDTH 1170PX */
@media (max-width: 785px) {
  .about-us-gallery__cell {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%; } }

/* END OF MAX-WIDTH 785PX */
.welcome {
  background-color: #E5BF4B; }

.welcome-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 50px 0; }
  .welcome-content__body {
    font-size: 2.4rem;
    margin: 50px 0; }

.services-content {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px; }

.services-content__cell {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .services-content__cell__heading {
    margin-bottom: 50px; }
  .services-content__cell__body {
    font-size: 1.8rem;
    width: 60%; }

@media (max-width: 785px) {
  .services-content__cell {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 25px; }
    .services-content__cell__body {
      width: 90%; }
    .services-content__cell__heading {
      margin-bottom: 25px; }
    .services-content__cell:first-child {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .services-content__cell:nth-child(2) {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    .services-content__cell:nth-child(3) {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .services-content__cell:nth-child(4) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }

/* END OF MAX-WIDTH 785PX */
.reviews {
  background-color: #2A2A2A;
  color: #D2CFCF; }

.reviews-content {
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .reviews-content__text {
    font-size: 1.8rem;
    margin-top: 35px; }
  .reviews-content__body {
    width: 55%; }
  .reviews-content__author {
    font-style: italic; }

.reviews-content__image {
  position: relative; }

.reviews-content__image-icon {
  font-size: 3.0rem;
  position: absolute;
  top: 40%; }
  .reviews-content__image-icon--left {
    left: -75px; }
  .reviews-content__image-icon--right {
    right: -75px; }
  .reviews-content__image-icon:hover {
    color: #DA331D; }

@media (max-width: 1170px) {
  .reviews-content__body {
    width: 100%; } }

/* END OF MAX-WDITH 1170PX */
.events-content__cell {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(100% / 3);
  flex: 0 1 calc(100% / 3); }
  .events-content__cell:nth-of-type(2) {
    position: relative; }
  .events-content__cell__image {
    height: 100%; }

.events-content__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  text-align: center; }
  .events-content__overlay__body {
    font-size: 1.8rem;
    width: 80%; }
  .events-content__overlay__heading {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 50px; }
    .events-content__overlay__heading::after {
      content: '';
      width: 60%;
      height: 1px;
      border-bottom: 1px solid #FFFFFF;
      position: absolute;
      bottom: -50%;
      left: 20%; }

@media (max-width: 1050px) {
  .events-content__overlay__heading {
    font-size: 3.0rem; }
  .events-content__overlay__body {
    font-size: 1.4rem; } }

/* END OF MAX-WDITH 1050PX */
@media (max-width: 880px) {
  .events-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .events-content__cell {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .events-content__overlay__heading {
    font-size: 4.0rem; }
  .events-content__overlay__body {
    font-size: 1.8rem; } }

/* END OF MAX-WIDTH 880PX */
@media (max-width: 525px) {
  .events-content__overlay__body {
    font-size: 1.4rem; }
  .events-content__overlay__heading {
    font-size: 3.6rem; } }

/* END OF MAX-WDITH 525PX */
.ask-question {
  text-align: center; }

.ask-question-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .ask-question-form__question {
    margin: 50px 0;
    width: 80%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 1.8rem;
    font-family: "Lora", serif;
    padding: 10px; }

@media (max-width: 880px) {
  .ask-question-form__question {
    width: 100%; } }

/* END OF MAX-WDITH 880PX */
.stats {
  background-color: #E5BF4B; }

.stats-content {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.stats-content__cell {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 25px 0; }
  .stats-content__cell__icon {
    font-size: 5.0rem;
    margin-bottom: 25px; }
  .stats-content__cell__heading {
    font-size: 2.8rem; }
  .stats-content__cell__body {
    font-size: 2.4rem; }

@media (max-width: 785px) {
  .stats-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .stats-content__cell {
    width: calc(50% - 20px);
    margin: 20px 10px; } }

/* END OF MAX-WIDTH 785PX */
.blog-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px; }

.blog-content__cell {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .blog-content__cell__heading {
    text-transform: none;
    font-size: 2.0rem;
    margin: 20px 0;
    font-weight: 600; }
  .blog-content__cell__link {
    font-size: 1.4rem;
    color: #DA331D;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .blog-content__cell__link:hover .link-arrows {
      margin-left: 15px;
      color: #E5BF4B; }
    .blog-content__cell__link:hover {
      color: #E5BF4B; }

.link-arrows {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

@media (max-width: 785px) {
  .blog-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .blog-content__cell {
    width: 100%;
    margin-bottom: 25px; } }

/* END OF MAX-WIDTH 785PX */
.footer {
  background-color: #2A2A2A;
  color: #FFFFFF;
  position: relative; }
  .footer__copyright {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem; }

.footer-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-content__cell {
  width: calc((100% / 3) - 25px); }
  .footer-content__cell__heading {
    margin-bottom: 25px; }
  .footer-content__cell__body {
    font-size: 1.8rem;
    line-height: 25px; }

.contact-info__item {
  font-size: 1.8rem;
  margin-bottom: 10px; }

.contact-info__icon {
  margin-right: 10px; }

.contact-info__link {
  color: #FFFFFF;
  text-transform: none;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .contact-info__link:hover {
    color: #DA331D;
    border-color: #DA331D; }

.email-subscribe {
  width: 100%;
  position: relative; }

.email-subscribe__email {
  width: 85%;
  font-size: 1.4rem;
  padding: 5px 0 5px 15px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  margin-top: 15px; }

.email-subscribe__submit {
  color: #908E8E;
  border: none;
  background-color: transparent;
  position: absolute;
  font-size: 1.2rem;
  bottom: 7px;
  right: 20%; }

.instagram-gallery {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.instagram-gallery__cell {
  width: 22%;
  margin-bottom: 10px; }

.footer-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 75px 0; }
  .footer-nav__heading {
    margin-bottom: 25px; }

.social-icons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25px;
  position: absolute;
  top: 30%;
  right: 1%; }
  .social-icons__link:nth-child(2) {
    margin: 50px 0; }
  .social-icons__item {
    font-size: 2.5rem;
    color: #FFFFFF;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
    .social-icons__item:hover {
      color: #DA331D;
      border-color: #DA331D; }

@media (max-width: 1235px) {
  .social-icons {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px; }
    .social-icons__link {
      margin: 0 25px; }
      .social-icons__link:nth-child(2) {
        margin: 0 25px; }
  .footer-nav {
    margin-bottom: 25px; } }

@media (max-width: 785px) {
  .footer-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-content__cell {
    width: 95%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px; }
    .footer-content__cell:last-child {
      margin-bottom: 0; }
  .email-subscribe__email {
    width: 65%; }
  .email-subscribe__submit {
    right: 20%; }
  .nav__wrapped {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 35px; } }

/* END OF MAX-WDITH 785PX */
